<link rel="stylesheet" href="/css/common.css" />
<script src="https://www.google.com/recaptcha/api.js?render=reCAPTCHA_site_key"></script>

<form
  action="/users/create-session"
  class="signin-form"
  id="verify-form"
  method="POST"
>
  <h1>Sign-In</h1>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input
      type="email"
      name="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      placeholder="Enter email"
      required
    />
    <small id="emailHelp" class="form-text text-muted"
      >We'll never share your email with anyone else.</small
    >
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input
      type="password"
      name="password"
      class="form-control"
      id="exampleInputPassword1"
      placeholder="Password"
      required
    />
    <small id="emailHelp" class="form-text text-muted">
      <a href="/users/forgot-password" class="forgotPass">
        Forgot Password?
      </a></small
    >
  </div>
  <!-- Add the reCAPTCHA widget here -->
  <div
    class="g-recaptcha"
    data-sitekey="YOUR_SITE_KEY"
    data-callback="runVerify"
  ></div>
  <!-- Replace YOUR_SITE_KEY with your actual reCAPTCHA site key -->
  <br />
  <button type="submit" class="btn btn-primary">Sign-In</button>
</form>

<div class="break">
  <hr id="onee" />
  <span>OR</span>
  <hr id="onee" />
</div>

<div class="google-auth googlebtn">
  <a href="/users/auth/google"
    ><img src="/images/google.png" />&ensp; Continue with this</a
  >
</div>

<script src="/js/reChapcha.js"></script>
