body{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    justify-content: center;
    text-align: center;
}
.container h1 span{
    color: red;
}

#heading{
    color: blue;
}
h2{
    margin-top: 10px;
}