<div>
    <p>Hi <%= user.name %>!</p>
    <br>
    <br>
    <p>To change your password use <strong> <%= password %> </strong> as your password</p>
    <p>Please Change your password once you login.</p>
    <br>
    <br>
    <p>Thanks!</p>
</div>
